.container{
    display: grid;
    gap: 8px;
}
header{
    background-color: rgb(57, 133, 163);
    display: flex;
    grid-gap: 8px;
    justify-content: center;
}
.Contenido{
    background-color: rgba(231, 148, 176, 0.925);
    height: 400px;
}
footer{
    display: flex;
    grid-gap: 7px;
    background-color: rgb(40, 247, 85);
    justify-content: center;
}